.logo-animate {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
  color: #fff;
  svg {
    flex-shrink: 0;
  }
  &--black {
    color: var(--black);
    path {
      fill: var(--black);
    }
  }
}

.logo-animate__right {
  margin-left: 16px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  > span {
    font-family: 'Eund', sans-serif;
    font-size: 19px;
    position: relative;
    top: -3px;
    left: -1px;
    letter-spacing: 1px;
  }
}

.logo-animate__area {
  height: 10px;
  width: 60px;
  position: relative;
  display: flex;
}

.logo-animate__text {
  font-family: 'Eund', sans-serif;
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 10px;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 2s ease;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
