:root {
  --main-font: 'Proxima Nova', sans-serif;
  --fair-font: 'Playfair Display', serif;
  --noto-font: 'Noto Serif', serif;
  --black: #3E3E3E;
  --gray: #A9A8A8;
  --gray-2: #5B5C5B;
  --white: #ffffff;
  --green: #68CE44;
  --red: #FF6B43;
  --blue: #2FADFF;
  --yellow: #FBCC0A;
}
